* {
    box-sizing: border-box;
}

/* brand color palette */
:root {
    --primary: #384554;
    --secondary: #8cb1c6;
    --tertiary: #1a559a;
    --dark: #181b2c;
    --light: #eeeee4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
}

header h1 {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 5px 3% 5px;
    margin: 0;
    font-size: 350%;
    line-height: 1.25;
    box-shadow: 3px 3px 3px 3px var(--tertiary);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 150%;
}

nav a {
    margin-right: 30px;
    padding: 5px 5px;
    color: var(--secondary)
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark)
}

.hero-banner {
    background-image: url("../images/hero-bg.JPG");
    background-position: contain;
    min-height: 27vh;
    color: var(--secondary);
    padding: 2% 6%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hero-banner h2 {
    background-color: var(--secondary);
    padding: 8px;
    color: var(--primary);
    box-shadow: 3px 3px 3px 3px var(--dark);
    font-size: 175%;
}

/*about area*/
.about-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: solid var(--primary);

}

.about-section>div {
    flex: 0 0 77%;
}

.about-section p {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 20px;

}

/* project area */
.project-section {
    margin: 25px;
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.project-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: solid var(--primary);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* Center the project items */
    width: 100%;
    /* Make sure the items take up the full width of the container */
    max-width: 1100px;
    /* Set a maximum width for the container */
    margin: auto;
    /* Center the container horizontally */
}

.project-item {
    border: 5px solid var(--primary);
    background-color: var(--light);
    color: var(--dark);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    font-size: .9rem;
}

.project-item.pollstraw {
    min-height: 300px;
    max-height: 400px;
    flex-basis: 98%;
    margin: auto;
    margin-bottom: 40px;
}

.project-item div {
    padding: 8px 10px;
}

.project-item:hover {
    background-color: var(--secondary);
}

/*contact area*/
.contact-section {
    margin: 25px;
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.contact-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 2vw;
    line-height: 1.1;
    border-right: solid var(--primary);
}

.contact-section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 110%;
    justify-content: space-between;

}

.contact-section div a {
    padding: 40px 125px;
    color: var(--primary);
}

.contact-section div a:hover {
    background-size: 100% 88%;
    color: var(--tertiary);
}

/* portfolio project images */
.pollstraw {
    background-image: url("../images/pollstraw.JPG");
    background-size: 100%;
}

.weather-dashboard {
    background-image: url("../images/weather-dashboard.JPG");
    background-size: 100%;
}

.calendar-app {
    background-image: url("../images/daily-planner.JPG");
    background-size: 100%;
}

.group-project {
    background-image: url("../images/group-project.JPG");
    background-size: 100%;
}

.back-end {
    background-image: url("../images/ecommerce.JPG");
    background-size: 100%;
}

/* Add a media query for mobile devices */
/* Small tablets and large smartphones (landscape view) */
@media (max-width: 767px) {
    header h1 {
        font-size: 250%;
    }

    nav {
        font-size: 100%;
    }

    .hero-banner h2 {
        font-size: 125%;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        font-size: 6vw;
    }

    .project-item {
        flex-basis: calc(100% - 1em);
    }

    .contact-section div a {
        padding: 20px 50px;
    }
}

/* Small smartphones (portrait view) */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 200%;
    }

    nav {
        font-size: 100%;
        margin-top: 10px;
    }

    .hero-banner h2 {
        font-size: 125%;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        font-size: 8vw;
    }

    .about-section,
    .project-section,
    .contact-section {
        flex-direction: column;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        flex: 0 0 100%;
        text-align: center;
        padding-right: 0;
        border-right: none;
        border-bottom: solid var(--primary);
        margin-bottom: 20px;
    }

    .project-item {
        flex-basis: calc(100% - 1em);
    }

    .contact-section div {
        flex-direction: column;
    }

    .contact-section div a {
        padding: 20px 25px;
        margin-bottom: 10px;
    }
}