* {
    box-sizing: border-box;
}

/* brand color palette */
:root {
    --primary: #252934;
    --secondary: #6d788c;
    --tertiary: #3d5170;
    --dark: #73d4f1;
    --light: #303846;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
    background-color: #141618;
}

header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #141618;
}

header h1 {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 5px 3% 5px;
    margin: 0;
    font-size: 350%;
    line-height: 1.25;
    box-shadow: 3px 3px 3px 3px #fcabfd;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 150%;
}

nav a {
    margin-right: 30px;
    padding: 5px 5px;
    color: var(--secondary)
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark)
}

.hero-banner {
    background-image: url("../images/hero-bg.JPG");
    background-position: contain;
    min-height: 27vh;
    color: var(--secondary);
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-banner h2 {
    background-color: var(--secondary);
    padding: 8px;
    color: var(--primary);
    box-shadow: 3px 3px 3px 3px #fcabfd;
    font-size: 175%;
}

.profile-image {
    width: 125px;
    /* Adjust as needed */
    height: 125px;
    /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
    /* To make sure the image is scaled properly */
}

/*about area*/
.about-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: solid #fcabfd;

}

.about-section>div {
    flex: 0 0 77%;
}

.about-section p {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 160px;
    margin-left: 100px;
    font-size: 1vw;
    line-height: 1;
    word-spacing: 0.16em;
}

/* project area */
.project-section {
    margin: 25px;
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.project-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: solid #fcabfd;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* Center the project items */
    width: 100%;
    /* Make sure the items take up the full width of the container */
    max-width: 1100px;
    /* Set a maximum width for the container */
    margin: auto;
    /* Center the container horizontally */
}

.project-item {
    border: 5px solid #fcabfd;
    background-color: #3b303b;
    color: #d2eaf7;
    text-shadow: 2px 2px 4px #000000;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: multiply;
    background-size: 150%;
    font-size: 100%;
}

.project-item.employee-tracker {
    min-height: 300px;
    max-height: 400px;
    flex-basis: 98%;
    margin: auto;
    margin-bottom: 40px;
}

.project-item div {
    padding: 8px 10px;
}

.project-item:hover {
    background-color: var(--secondary);
}

/*contact area*/
.contact-section {
    margin: 25px;
    margin-left: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.contact-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    font-size: 2vw;
    line-height: 1.1;
    border-right: solid #fcabfd;
}

.contact-section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 110%;
    justify-content: space-between;

}

.contact-section div a {
    padding: 40px 125px;
    color: var(--secondary);
}

.contact-section div a:hover {
    background-size: 100% 88%;
    color: var(--tertiary);
}

/* portfolio project images */
.employee-tracker {
    background-image: url("../images/employeetracker.JPG");
    background-size: 100%;
}

.note-taker {
    background-image: url("../images/note-taker.JPG");
    background-size: 90%;
}

.weather-dashboard {
    background-image: url("../images/weather-dashboard.JPG");
    background-size: 100%;
}

.daily-planner {
    background-image: url("../images/dailyplanner.JPG");
    background-size: 100%;
}

.readme-generator {
    background-image: url("../images/readmegen.JPG");
    background-size: 100%;
}

.group-project {
    background-image: url("../images/group-project.JPG");
    background-size: 100%;
}

.back-end {
    background-image: url("../images/ecommerce.JPG");
    background-size: 100%;
}

/* Small tablets and large smartphones (landscape view) */
@media (max-width: 767px) {
    body {
        font-size: 100%;
        /* adjust this value as necessary */
    }

    .project-item,
    .about-section,
    .contact-section {
        overflow: hidden;
    }

    .about-section p,
    .contact-section p {
        font-size: 1.2rem;
        padding: 10px;
    }

    header h1 {
        font-size: 200%;
    }

    nav {
        font-size: 100%;
    }

    .hero-banner h2 {
        font-size: 125%;
    }

    .about-section h2 {
        padding-left: 37px;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        font-size: 5vw;
    }

    .project-item {
        flex-basis: 100%;
        font-size: 80%;
    }

    .contact-section div a {
        padding: 20px 50px;
        font-size: 100%;
    }

    .about-section>div,
    .project-section>div,
    .contact-section>div {
        flex-basis: 70%;
    }
}

/* Small smartphones (portrait view) */
@media (max-width: 480px) {
    body {
        font-size: 90%;
        /* adjust this value as necessary */
    }

    .project-item,
    .about-section,
    .contact-section {
        overflow: hidden;
    }

    .about-section p,
    .contact-section p {
        font-size: 1.5rem;
        padding: 10px;
    }


    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 150%;
    }

    nav {
        font-size: 80%;
        margin-top: 10px;
    }

    .hero-banner h2 {
        font-size: 100%;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        font-size: 7vw;
    }

    .about-section,
    .project-section,
    .contact-section {
        flex-direction: column;
    }

    .about-section h2,
    .project-section h2,
    .contact-section h2 {
        flex: 0 0 100%;
        text-align: center;
        padding-right: 0;
        border-right: none;
        border-bottom: solid var(--primary);
        margin-bottom: 20px;
    }

    .project-item {
        flex-basis: 100%;
        font-size: 80%;
    }

    .contact-section div {
        flex-direction: column;
    }

    .contact-section div a {
        padding: 20px 25px;
        margin-bottom: 10px;
        font-size: 80%;
    }
}